body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: gold;
}
.flexiable-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    margin-top: 200px;
    
}
.link-button{
   text-decoration: none;
   background-image:linear-gradient(orange,tomato);
   padding: 10px 40px;
   color: aliceblue;
   font-weight:700 ;
   border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.dream-big img{
   margin-top: 60px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px; 
    border-radius: 5px;
    box-shadow: 10px 10px 30px  gray;
    border-left: 7px solid blue;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-developer{
    border-left: 7px solid rgb(27, 12, 235);
}
footer p{
    text-align: center;

}